name: Automated Tag Creation

on:
  push:
    branches: [ "main" ]

jobs:
  tag:
    name: Semantic Tagging
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Poetry and Dependencies
      uses: snok/install-poetry@v1

    - name: Install Semantic Release
      run: poetry install --only dev

    - name: Automated Version Bump, Changelog, and Tag Push
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        poetry run semantic-release publish
