name: GitHub Release Creator

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  create_release:
    name: Create GitHub Release Object
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        token: ${{ secrets.GITHUB_TOKEN }}
