name: Create Release

on:
  push:
    branches: [ main ]

jobs:
  run-tests:
    name: Run Tests
    uses: ./.github/workflows/test.yml
    with:
      python-versions: '["3.10", "3.11", "3.12"]'
    secrets: inherit

  release:
    name: Semantic Tagging & Release
    needs: run-tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Switch to main branch
        run: |
          git checkout main
          git pull origin main

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.13

      - name: Install Poetry
        run: uv tool install poetry

      - name: Configure Git User
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sr() {
            uvx --from="python-semantic-release@9.21.1" semantic-release "$@"
          }

          sr version
          sr publish
