name: Automated Release

on:
  push:
    branches: [ "main" ]

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Poetry and Dependencies
      uses: snok/install-poetry@v1

    - name: Install Semantic Release
      run: poetry install --only dev

    - name: Automated Version Bump and Tag
      run: |
        poetry run semantic-release publish

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        token: ${{ secrets.GITHUB_TOKEN }}
