name: GitHub Release Creator

on:
  workflow_run:
    workflows: ["GitHub Tag Creator"]
    types:
      - completed
    branches:
      - main

jobs:
  create_release:
    name: Create GitHub Release Object
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ github.ref_name }}
